<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.dao.MainDao">

<!-- Query Start -->
	<select id="selectNowLectureInfo" resultType="com.boot.vo.LectureVO">
		SELECT 
				LECTURE_NO
				, LECTURE_NAME
				, LECTURE_MEMBER_NAME
				, LECTURE_DTTM
				, LECTURE_MEMBER_LIMIT
		FROM 
				TB_LECTURE
		WHERE
				LECTURE_DTTM BETWEEN DATE_ADD(NOW(), INTERVAL -7 DAY) AND DATE_ADD(NOW(), INTERVAL 1 DAY) 
	</select>
</mapper>